/**
 * Target Config:
 * apps {
 *   // Configuration - 1
 *   app1 {
 *      mode = expansion
 *      siteANode1 {
 *         ip = x.x.x.x
 *         changeSet = 1
 *      }
 *      siteANode2 {
 *         ip = y.y.y.y
 *         changeSet = 1
 *      }
 *
 *      siteBNode1 {
 *         ip = z.z.z.z
 *         changeSet = 1
 *      }
 *      siteBNode2 {
 *         ip = u.u.u.u
 *         changeSet = 1
 *      }
 *
 *   }
 *
 *   //Configuration - 2
 *   app2 {
 *     mode = contraction
 *     nodeA {
 *       ip = a.a.a.a
 *       changeSet = 2
 *     }
 *     nodeB {
 *       ip = b.b.b.b
 *       changeSet = 2
 *     }
 *     nodeC {
 *       ip = c.c.c.c
 *       changeSet = 2
 *     }
 *   }
 * }
 */

mode = expansion
//apps {
//    demoApp {
//       nodeA {
//           ip = '127.0.0.1'
//           changeSet = 1
//       }
//    }
//}

