/**
 * Target Config:
 * apps {
 *   app1 {
 *      mode = expansion
 *      SiteA-Node1 {
 *         ip = x.x.x.x
 *         changeSet = 1
 *      }
 *      SiteA-Node2 {
 *         ip = y.y.y.y
 *         changeSet = 1
 *      }
 *
 *      SiteB-Node1 {
 *         ip = z.z.z.z
 *         changeSet = 1
 *      }
 *      SiteB-Node2 {
 *         ip = u.u.u.u
 *         changeSet = 1
 *      }
 *
 *   }
 *
 *   app2 {
 *     mode = contraction
 *     nodeA {
 *       ip = a.a.a.a
 *       changeSet = 2
 *     }
 *     nodeB {
 *       ip = b.b.b.b
 *       changeSet = 2
 *     }
 *     nodeC {
 *       ip = c.c.c.c
 *       changeSet = 2
 *     }
 *   }
 * }
 */

apps {
    mode = 'expansion'
}

